In [1]:
import networkx as nx
import numpy as np
import requests as r
import pandas as pd
from sodapy import Socrata

Data from : https://data.cityofnewyork.us/Transportation/Automated-Traffic-Volume-Counts/7ym2-wayt

CSV from: https://data.cityofnewyork.us/resource/7ym2-wayt.csv

In [2]:
client = Socrata("data.cityofnewyork.us", None)
# results = client.get_all("7ym2-wayt") to get all of the data (this will take a while)
results = client.get("7ym2-wayt", limit=5000000)
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [3]:
results_df.head()

,requestid,boro,yr,m,d,hh,mm,vol,segmentid,wktgeom,street,fromst,tost,direction
0,1100,Staten Island,2011,10,14,10,45,102,103882,POINT (963246 173171.4),BAY ST,RICHMOND TERR,STUYVESANT PL,SB
1,1100,Staten Island,2011,10,14,11,0,110,103882,POINT (963246 173171.4),BAY ST,RICHMOND TERR,STUYVESANT PL,SB
2,1100,Staten Island,2011,10,14,11,15,101,103882,POINT (963246 173171.4),BAY ST,RICHMOND TERR,STUYVESANT PL,SB
3,1100,Staten Island,2011,10,14,11,30,112,103882,POINT (963246 173171.4),BAY ST,RICHMOND TERR,STUYVESANT PL,SB
4,1100,Staten Island,2011,10,14,11,45,94,103882,POINT (963246 173171.4),BAY ST,RICHMOND TERR,STUYVESANT PL,SB

In [4]:
results_df["date"] = results_df["yr"] + "_" + results_df["m"] + "_" + results_df["d"] + "_" + results_df["hh"] + "_" + results_df["mm"]

We make a graph of the NYC network with the Nodes as the to and from streets, and the edges between those nodes as the traffic flow. One graph will represent the state of traffic of the city at a single time step (YYYY/MM/DD/HH/mm).

In [5]:
results_df.groupby(["date"]).count()

,requestid,boro,yr,m,d,hh,mm,vol,segmentid,wktgeom,street,fromst,tost,direction
date,,,,,,,,,,,,,,
2000_1_10_0_0,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2000_1_10_0_15,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2000_1_10_0_30,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2000_1_10_0_45,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2000_1_10_10_0,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013_6_9_8_45,17,17,17,17,17,17,17,17,17,17,17,17,17,17
2013_6_9_9_0,17,17,17,17,17,17,17,17,17,17,17,17,17,17
2013_6_9_9_15,17,17,17,17,17,17,17,17,17,17,17,17,17,17
2013_6_9_9_30,17,17,17,17,17,17,17,17,17,17,17,17,17,17
2013_6_9_9_45,17,17,17,17,17,17,17,17,17,17,17,17,17,17